{% extends 'base.html' %}

{% block content %}
<main class="container p-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django CRUD App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ad, a id praesentium similique expedita. Et
      eveniet dolore aperiam ab veniam provident vel obcaecati similique, quas atque dolorem sint deserunt, recusandae
      aliquam eaque totam laudantium nihil facilis. Nisi iure dolor beatae earum atque, magnam quia, fuga sunt, nesciunt
      cumque totam.</p>
      <div class="text-center">

        <a href="/signin/" class="btn btn-primary">Login</a>
        <a href="/signup/" class="btn btn-secondary">Register</a>
      </div>
  </section>
</main>
{% endblock %}